<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright &copy; <%= theme.since %>
                </span> |
                <span>
                  <a class="copyright-links" target="_blank" rel="nofollow"  href="http://www.miitbeian.gov.cn/">陕ICP备17007121号</a>
                </span> |
                <span>
                    <a href="//pspgbhu.me" class="copyright-links" rel="nofollow">Pspgbhu's Site</a>
                </span>
            </div>
        </div>
    </div>
</div>


