<% if(theme.widgets&&theme.widgets.length >0){ %>
    <aside class="col-md-4 sidebar">
        <% theme.widgets.forEach(function(widget){ %>
        <%- partial('_widget/' + widget) %>
        <% }) %>
        <% if (page.published){ %>
          <div class="widget toc-floating">
            <h3 class="title">目录</h3>
            <%- toc(page.content, {list_number: false}) %>
          </div>
        <% } %>
    </aside>
<%}%>
